// Blacks
$cod_gray: #0a0a0a;
$cod_desaturate: desaturate($cod_gray, 100%);
$jet: #181818;
$inkstone: #3D3D3D;
$slate: #5D5D5D;
$graphite: #666666;

// Whites
$white: #FFFFFF;
$porcelain: #F7F7F7;
$silk: #CCC;
$ash: #878787;

// Purples
$aubergine: #924D8B;
$purple: #762572;
$light_aubergine: #77216F;
$mid_aubergine: #5E2750;
$dark_aubergine: #2C001E;

// Reds
$tall_poppy: #823535;
$red: #c7162b;

// Oranges
$orange: #E95420;

// Yellows
$yellow: #f99b11;

// Greens
$green: #0e8420;

// Blues
$grayed_blue: #425d67;
$blue: #19B6EE;
$lilac: #C8A2C8;
$linkblue: #007aa6;
$darkblue: #335280;
$pink: #FFC0CB;


// Semantic colors
$primary_accent_bg_color: $orange;
$primary_accent_fg_color: $white;
$secondary_accent_bg_color: $pink;
$secondary_accent_fg_color: $white;
