$variant: 'dark';

@import "../../../../common-scss/global"; //use gtk colors
@import 'drawing';
@import 'common';
@import 'apps';
@import 'tweaks';
@import 'colors-public';
@import 'libhandy/Adwaita-base';
