/* Popovers/Menus */
//Void:
$popover_padding_start: $base_padding * 3;
$popover_padding_end: $base_padding * 5;

$popover_arrow_height: 12px;

//.the popover itself
.popup-menu-boxpointer {
  //-arrow-border-radius: $base_border_radius + 2; // Yaru: we have less round popovers
// //Void:
//   -arrow-border-radius: 0;
//   -arrow-background-color: darken($bg_color, 50%);
//   -arrow-border-width: 1px;
//   //-arrow-border-color: if($variant=='light', transparentize(black, 0.65), $borders_color); // Yaru: we need a black-based border for the light theme
// //Void:
//   -arrow-border-color: $borders_color; // Yaru: we need a black-based border for the light theme
//   -arrow-base: $popover_arrow_height * 2;
//   -arrow-rise: $popover_arrow_height;
//   -arrow-box-shadow: 0px 11px 19px 7px rgba(0, 0, 0, 0.5), 
//                       inset 0px 2px white; // dreaming bugzilla #689995

  -arrow-border-radius: 0;
  -arrow-background-color: transparent;
  -arrow-border-width: 0;
  -arrow-box-shadow: none;
  -arrow-base: 0;
  -arrow-rise: 0;

  padding: 0;
  background-color: lighten($panel_bg_color, 4%);
  @include border_side(2px, lighten($panel_bg_color, 50%), bottom);
//                       inset 0px 2px white; // dreaming bugzilla #689995
}

// container of the popover menu
.popup-menu {
  min-width: 15em;
  color: $fg_color;
  //box-shadow: 0px 0px 25px -4px rgba(0,0,0,0.75);
  

  //.popup-status-menu-item { font-weight: normal;  color: pink; } //dunno what that is
  &.panel-menu {
    -boxpointer-gap: $base_margin; // distance from the panel
    margin-bottom: $base_padding;
    box-shadow: 0px 0px 25px -4px rgba(0,0,0,0.75);
  }
}

.popup-menu-content {
  padding: $base_padding + $base_margin 0;
}

// menu items
.popup-menu-item {
  spacing: $base_padding;
  padding: $base_padding;

  &:ltr { 
    padding-right: $popover_padding_end;
    padding-left: $popover_padding_start;
  }
  &:rtl {
    padding-right: $popover_padding_start;
    padding-left: $popover_padding_end;
  }

  &:checked { // Yaru: sub menus need to be more visible
    background-color: $bg_color;
    box-shadow: none;
  }

  &.selected { // Yaru: we want shell popups to feeld like menus -> gray hover
    background-color: $hover_bg_color;
    color: $fg_color;
    &:ltr {
      @include border_side(2px, $selected_bg_color, left);
      padding-left: $popover_padding_start - 2px;
    }
    &:rtl {
      @include border_side(2px, $selected_bg_color, right);
      padding-right: $popover_padding_start - 2px;
    }
  }

  &:active { // Yaru: we want shell popups to feeld like menus -> no orange
    background-color: $active_bg_color;
    color: $fg_color;
  }

  &:insensitive { color: transparentize($fg_color,0.5);}
}

// all icons and other graphical elements
.popup-inactive-menu-item {
  color: $fg_color;

  &:insensitive { color: transparentize($fg_color,0.5); }
}

// symbolic icons in popover
.popup-menu-arrow,
.popup-menu-icon { icon-size: $base_icon_size; }

// popover submenus
.popup-sub-menu {
  background-color: $panel_bg_color;
  box-shadow: none;
  border-top: 1px solid transparentize($borders_color, 0.2);
  border-bottom: 1px solid transparentize($borders_color, 0.2);
}

// container for radio and check boxes
.popup-menu-ornament {
  width: 0;

  &:ltr { text-align: right };
  &:rtl { text-align: left };
}

// separator
.popup-separator-menu-item {
  padding: 0;

  .popup-separator-menu-item-separator {
    //-margin-horizontal: 24px;
    height: 1px; //not really the whole box
    margin: 6px 64px;
    background-color: lighten($borders_color, 2%);
    .popup-sub-menu & { //submenu separators
      margin: 0 64px 0 32px;
      @if $variant == 'dark' {
        background-color: lighten($bg_color,10%);
      }
    }
  }
}

// desktop background menu
.background-menu {
  -boxpointer-gap: $base_margin;
  -arrow-rise: 0px; // hide the beak on the menu
}

// system status menu
.aggregate-menu {
  min-width: 21em;

  // lock screen, shutdown, etc. buttons
  .popup-menu-icon { 
    padding:0;
    margin: 0 $base_margin;
    -st-icon-style: symbolic;
  }

  .popup-sub-menu .popup-menu-item > :first-child {
    // account for icons in submenus with padding
    &:ltr {
      padding-left: $base_padding + $base_margin * 2; 
      margin-left: $base_icon_size;
    }
    &:rtl {
      padding-right: $base_padding + $base_margin * 2; ;
      margin-right: $base_icon_size;
    }
  }
}
