/* Scrollbars */

StScrollView {
  &.vfade { -st-vfade-offset: 68px; }
  &.hfade { -st-hfade-offset: 68px; }
}

StScrollBar {
  $_slider_min_length: 40px;
  $_slider_min_width: 4px;
  $_slider_full_width: 10px;

  padding: 0;

  StScrollView & {
    min-width: $_slider_full_width;
    min-height: $_slider_full_width;
  }

  StBin#trough {
    border-radius: 0;
    background-color: transparent;
  }

  StButton#vhandle, StButton#hhandle {
    //Void: no rounds...
    //border-radius: 8px;
    border-radius: 0;
    background-color: mix($fg_color, $bg_color, 60%);
    //border: 3px solid transparent; //would be nice to margin or at least to transparent
    margin: 0;
    &:hover { background-color: mix($fg_color, $bg_color, 80%); }
    &:active { background-color: $selected_bg_color; }
  }

  StButton#hhandle{
    height: $_slider_min_width;
    margin: ($_slider_full_width - $_slider_min_width) / 2, 0px;
    transition: margin .2s;

    &:hover, &:active{
      margin: 0px, 0px;
    }
  }
  StButton#vhandle{
    width: $_slider_min_width;
    margin: 0px, ($_slider_full_width - $_slider_min_width) / 2;
    transition: margin .2s;
    
    &:hover, &:active{
      margin: 0px, 0px;
    }
  }
}