/* Scrollbars */

StScrollView {
  &.vfade { -st-vfade-offset: 68px; }
  &.hfade { -st-hfade-offset: 68px; }
}

StScrollBar {
  padding: 0;

  StScrollView & {
    min-width: $_scroll_slider_full_width;
    min-height: $_scroll_slider_full_width;
  }

  StBin#trough {
    border-radius: 0;
    background-color: transparent;
  }

  StButton#vhandle, StButton#hhandle {
    border-radius: 0;
    background-color: $scrollbar_slider_color;
    margin: 0;
    &:hover { background-color: $scrollbar_slider_hover_color; }
    &:active { background-color: $scrollbar_slider_active_color; }
  }

  StButton#hhandle{
    height: $_scroll_slider_min_width;
    margin: ($_scroll_slider_full_width - $_scroll_slider_min_width) / 2, 0px;
    transition: margin .2s;

    &:hover, &:active{
      margin: 0px, 0px;
    }
  }
  StButton#vhandle{
    width: $_scroll_slider_min_width;
    margin: 0px, ($_scroll_slider_full_width - $_scroll_slider_min_width) / 2;
    transition: margin .2s;
    
    &:hover, &:active{
      margin: 0px, 0px;
    }
  }
}