// When color definition differs for dark and light variant,
// it gets @if ed depending on $variant
@import 'palette';

/**************
* Base colors *
***************/
$light: if($variant=='light', true, false);

$base_color: lighten($cod_desaturate, 7%);
$bg_color: lighten($cod_desaturate, 0.5%);
$fg_color: lighten($cod_desaturate, 80%);
$text_color: white;

$selected_fg_color: $primary_accent_fg_color;
$selected_bg_color: darken($primary_accent_bg_color, 4%);
$selected_borders_color: darken($selected_bg_color, 30%);

$borders_color: darken($bg_color, 11%);
$alt_borders_color: darken($bg_color, 10%);
$borders_edge: transparentize($fg_color, 0.93);

$dark_fill: lighten($cod_desaturate, 10%);

/***********
* Semantic *
************/
$warning_color: $yellow;
$error_color: $tall_poppy;
$success_color: $grayed_blue;
$destructive_color: lighten($tall_poppy, 10%);
$neutral_color: $blue;
$focus_color: transparentize($selected_bg_color, 0.4);
$text_selection: darken($neutral_color, 10%);

/*******
* Misc *
********/
$bubble_borders_color: lighten($borders_color, 5%);

$link_color: $blue;
$link_visited_color: lighten($link_color, 10%);

$top_hilight: transparent;
//menu
$menu_color: lighten($cod_desaturate, 10%);
//popovers
$popover_bg_color: lighten($cod_desaturate, 4%);
$popover_hover_color: transparentize($fg_color, 0.85);
$popover_underline_color: lighten($cod_desaturate, 50%);
//sidebar
$sidebar_bg_color: mix($bg_color, $base_color, 50%);

$tooltip_borders_color: transparentize(white, 0.9);

$shadow_color: transparentize(black, 0.9);

$drop_target_color: $success_color;

$suggested_bg_color: darken($green, 5%);
$suggested_border_color: darken($suggested_bg_color, 10%);
$progress_bg_color: $secondary_accent_bg_color;
$progress_border_color: darken($progress_bg_color, 40%);
$checkradio_bg_color:  darken($secondary_accent_bg_color, 8%);
$checkradio_fg_color: $secondary_accent_fg_color;
$checkradio_borders_color: darken($checkradio_bg_color,40%);
$focus_border_color: transparentize(lighten($primary_accent_bg_color, 14%), 0.3);
$coloured_focus_border_color: transparentize(white, 0.3);

$switch_bg_color: darken($secondary_accent_bg_color, 8%);
$switch_border_color: darken($borders_color, 5%);

$button_bg_color: lighten($bg_color, 6%);
$button_backdrop_bg_color: transparentize($button_bg_color, 0.3);

/************
* Scrollbar *
*************/
$scrollbar_bg_color: lighten(mix($base_color, $bg_color, 50%), 7%);
$scrollbar_slider_color: mix($fg_color, $bg_color, 60%);
$scrollbar_slider_hover_color: mix($fg_color, $bg_color, 80%);
$scrollbar_slider_active_color: lighten($selected_bg_color, 10%);

/******
* OSD *
*******/
$osd_bg_color: $cod_desaturate;
$osd_fg_color: lighten($cod_desaturate, 15%);
$osd_text_color: lighten($cod_desaturate, 90%);
$osd_insensitive_bg_color: transparentize(mix($osd_fg_color, opacify($osd_bg_color, 1), 10%), 0.5);
$osd_insensitive_fg_color: mix($osd_fg_color, opacify($osd_bg_color, 1), 50%);
$osd_borders_color: transparentize(black, 0.3);
$osd_outer_borders_color: transparentize(white, 0.84);
$osd_button_bg_color: opacify($osd_bg_color, 1);

/*************************
* The Panel and The Dash *
**************************/
$panel_bg_color: $cod_gray;
$panel_fg_color: lighten($cod_gray, 80%);
$dash_bg_color: $panel_bg_color;
$dash_fg_color: $panel_fg_color;

/************
* Headerbar *
*************/
$headerbar_color: darken($bg_color, 10%);

$headerbar_bg_color: $headerbar_color;
$headerbar_fg_color: lighten($headerbar_color, 90%);
$headerbar_border_color: lighten($headerbar_bg_color, 8%);
$headerbar_text_color: $porcelain;
$headerbar_insensitive_color: mix($headerbar_fg_color, $headerbar_bg_color, 50%);

$headerbar_top_hilight: lighten($headerbar_bg_color, 15%);

$hb_pathbar_bg: lighten($headerbar_bg_color, 5%);
$hb_button_bg_hover: lighten($headerbar_bg_color, 10%);

$menubar_bg_color: $headerbar_bg_color;

/*********
* States *
**********/

//hover:
$base_hover_color: transparentize(white, 0.8);
// $hover_fg_color: lighten($selected_fg_color, .25);

$hover_bg_color: transparentize($fg_color, 0.9);
$hover_fg_color: $fg_color;
$hover_borders_color: lighten($borders_color,if($variant=='light', 5%, 3%));

//active:
$base_active_color: transparentize(white, 0.75);
// $active_fg_color: transparentize($selected_fg_color, .5);
$active_bg_color: transparentize($fg_color, 0.8);
$active_fg_color: darken($fg_color, 3%);
$active_borders_color: darken($borders_color,if($variant=='light', 5%, 3%));

//insensitive:
$insensitive_fg_color: mix($fg_color, $bg_color, 50%);
$insensitive_bg_color: mix($bg_color, $base_color, 60%);
$insensitive_borders_color: mix($borders_color, $bg_color, 90%);
$insensitive_dark_fill: mix($bg_color, $dark_fill);

///////////////////
//backdrop:
///////////////////
$backdrop_base_color: lighten($base_color, 5%);
$backdrop_text_color: mix($text_color, $backdrop_base_color, 80%);
$backdrop_bg_color: lighten($bg_color, 5%);
$backdrop_fg_color: mix($fg_color, $bg_color, 70%);
$backdrop_selected_fg_color: mix($selected_fg_color, $backdrop_base_color, 80%);
$backdrop_borders_color: mix($borders_color, $backdrop_bg_color, 40%);
$backdrop_dark_fill: mix($dark_fill, $backdrop_base_color, 80%);

//sidebar
$backdrop_sidebar_bg_color: mix($backdrop_bg_color, $backdrop_base_color, 80%);

//scrollbar
$backdrop_scrollbar_bg_color: darken($backdrop_bg_color, 3%);
$backdrop_scrollbar_slider_color: mix($backdrop_fg_color, $backdrop_bg_color, 40%);

//menu
$backdrop_menu_color: mix($menu_color, $backdrop_base_color, 80%);

//popovers
$backdrop_popover_bg_color: mix($backdrop_bg_color, $popover_bg_color, 50%);

//headerbar
$backdrop_headerbar_bg_color: lighten($headerbar_bg_color, 5%);
$backdrop_headerbar_fg_color: mix($headerbar_fg_color, $backdrop_headerbar_bg_color, 70%);
$backdrop_headerbar_text_color: mix($headerbar_text_color, $backdrop_headerbar_bg_color, 70%);
$backdrop_headerbar_insensitive_color: mix($headerbar_fg_color, $backdrop_headerbar_bg_color, 70%);

$backdrop_headerbar_top_hilight: lighten($backdrop_headerbar_bg_color, 15%);

$hb_pathbar_bg_backdrop: mix(lighten($headerbar_bg_color, 5%), $headerbar_bg_color, 50%);
$hb_pathbar_border_backdrop: darken($hb_pathbar_bg_backdrop, 2%);

$backdrop_menubar_bg_color: lighten($menubar_bg_color, 5%);
//insensitive backdrop
$backdrop_insensitive_color: mix($backdrop_bg_color, $backdrop_fg_color, 30%);
$backdrop_insensitive_dark_fill: $insensitive_dark_fill;